<template>
  <div id="app" class="app">
    <div class="header">
      <h1>Restaurante Brayans</h1>
      <nav>
        
        <button v-if="is_auth" v-on:click="loadHome"> Inicio </button>
        <button v-if="is_auth" v-on:click="loadAccount"> Cuenta </button>
        <button v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button>
        <button v-if="is_auth" v-on:click="loadReserva"> Reservas </button>
        <button v-if="is_auth" v-on:click="loadMesa"> Mesas </button>
        <button v-if="!is_auth" v-on:click="loadInicio" > Inicio </button>
        <button v-if="!is_auth" v-on:click="loadLogIn" > Iniciar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadSignUp" > Registrarse </button>
        
      </nav>
    </div>

    <div class="main-component">
      <router-view
      v-on:loadReserva="loadReserva"
      v-on:loadMesas="loadMesa"
      v-on:completedLogIn="completedLogIn"
      v-on:completedSignUp="completedSignUp"
      v-on:completedInicio="completedInicio"
      v-on:logOut="logOut"
      


      >
      </router-view>
    </div>
    <div class="footer">
      
      <h2>Restaurante Brayans</h2>
      <h3>Gabriel Contreras - Yinela Primero - Jorge Jiménez</h3>

    </div>
  </div>
</template>


<script>
import axios from 'axios';
export default {
  name: 'App',
    data: function(){
      return{
        is_auth: false,
        posts :[]
      }
  },
  methods:{
    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;
      if (this.is_auth == false)
        this.$router.push({ name: "inicIo" });
      else
        this.$router.push({ name: "home" });
      
    },
    loadLogIn: function(){
        this.$router.push({name: "logIn"})
    },
    loadSignUp: function(){
        this.$router.push({name: "signUp"})
    },
    loadInicio: function(){
      this.$router.push({name: "inicIo"})
    },

    completedLogIn: function(data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      alert("Autenticación Exitosa");
      this.verifyAuth();
    },
    reservaListar:function(data){
      localStorage.setItem("listareserva", data);
      alert("Autenticación Exitosa");
    },
    completedSignUp: function(data) {
      alert("Registro Exitoso");
      this.completedLogIn(data);
    },
    loadHome: function() {
      this.$router.push({ name: "home" });
    },
    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },
    loadAccount: function () {
      this.$router.push({ name: "account" });
    },
    loadReserva: function(){


      this.$router.push({name : "reservA"})
      
    },
    loadMesa: function(){

      this.$router.push({name :"mesA"})
    },

    
  },
  
  created: function(){ 
    this.verifyAuth()
  }
}
</script>

<style>
body{
  margin: 0 0 0 0;
}
.header{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  min-height: 100px;
  background-color: #aa3e00 ;
  color:#E5E7E9 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1{

  width: 50%;
  text-align:left;
  margin-left: 10%;
}

.header nav {
height: 100%;
width: 50%;

justify-content: space-around;
align-items: center;
font-size: 20px;
}
.header nav button{
  align-content: center;
  margin: 1vh;
  margin-top: 3vh;
color: #000000;
background: #faeee5;
border:none;
border-radius: 5px;
padding: 10px 20px;
font-size: 20px;
cursor: pointer;
transition: .3s ease all;
}
.header nav button:hover{
color: #ffffff;
background: #502409;

}
.main-component{
height: 65vh;
margin: 0%;
padding: 0%;
background: #FDFEFE ;
}
.footer{
margin: 0;
padding: 0;
width: 100%;
height: 10vh;
min-height: 100px;
background-color: #491c02;
color: #E5E7E9;
}
.footer h2{
width: 100%;
height: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.footer h3{
width: 100%;
height: 10%;
display: flex;
justify-content: center;
align-items: center;
}
</style>