<template>
    
    <div class="inicio">
        
        <div class="informacion">
            <h1>Bienvenido al restaurante Brayans</h1>
        </div>
        <h2>Nuestras intalaciones</h2>
        <img src="../../imagenespoyecto/1.jpg" id="img2">
    </div>
</template>

<style>

#img2{
    width: 30%;
    display: inline;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 0.2s;
    
    }
#img2:hover{
    margin-top: 5%;
    margin-left: 5%;
}
.inicio {
    
    height: 80%;
    width: 80%;
    margin-left: 10%;
    display: inline-block;

}
</style>