<template>
    
    <div class="contenmesa">
        <h1 class="titulo">Mesas</h1>
        <div class="contlis" v-if="mostrarlista">
            <div>
            <h2 class="elemetosmesa" id="idmesa">Id Mesa</h2><h2 class="elemetosmesa" id="numeromesa">Numero mesa</h2><h2 class="elemetosmesa" id="descripmesa2">Descripcion</h2><h2 class="elemetosmesa1" id="acciones">Acciones</h2>
            </div>
            <div class="listar" v-for="(mesac , index) in mesadata" :key="index">
                
                <h2 class="elemetosmesa" id="idmesa">{{mesac.idmesa}}</h2><h2 class="elemetosmesa" id="numeromesa">{{mesac.numeroMesa}}</h2><h2 class="elemetosmesa" id="descripmesa">{{mesac.descricionMesa}}</h2>
                <button class="elemetosmesa2" v-on:click="preeditar(index)">Editar</button>
                <button class="elemetosmesa2" v-on:click="eliminarMesa(mesac.idmesa)">Eliminar</button>
            </div>
        </div>
        <div class="contre" v-if="midificarre">
            <div>
            <h2 class="agregar">Agregar Mesa</h2>
            </div>
            <form v-on:submit.prevent="agremesa">
                <h3 class="camposreserva1" >Numero Mesa</h3><input type="number" v-model="mesaag.numeroMesa" class="comllenarreser1" placeholder="Numero Mesa">
                <br>
                <h3 class="camposreserva1" >Descripcion de la Mesa</h3><input type="text" v-model="mesaag.descricionMesa" class="comllenarreser1"  placeholder="Descripcion Mesa">
            <br>
            <button type="submit" class="registrar">Registrar nueva mesa</button>
        </form>
           <button v-on:click="cancelar" class="registrar">Cancelar</button>
        </div>
        <div class="contre" v-if="!midificarre">
            <div>
                <h2 class="agregar">Editar Mesa</h2>
            </div>
            <form v-on:submit.prevent="editarmesa">
                    <h3 class="camposreserva1">Numero Mesa</h3><input type="number" v-model="mesaeditar.numeroMesa" class="comllenarreser1"  placeholder="Numero Mesa">
                    <br>
                    <h3 class="camposreserva1">Descripcion de la Mesa</h3><input type="text" v-model="mesaeditar.descricionMesa" class="comllenarreser1" placeholder="Descripcion Mesa">
                    <br>
                    <button type="submit" class="registrar" >Registrar nueva mesa</button>
                </form>
                <button v-on:click="cancelar" class="registrar" >Cancelar</button>
        </div>
    </div>

</template>

<script>
import axios from 'axios';

export default{
    name : "MesA",

    data: function(){
        return{
            
            mesadata :[],
            mesadataedi:[],
            
            midificarre: true,
            mostrarlista : true,
            mesaag:{
                numeroMesa: "",
                descricionMesa: ""
            },
            mesaeditar:{
                idmesa: "",
                numeroMesa: "",
                descricionMesa: ""
            },
            mesaedirenviar:{
                numeroMesa: "",
                descricionMesa: ""
            },


        }
    },
    methods:{
        cancelar: function(){
            this.midificarre = true
            this.mesaag.numeroMesa = ""
            this.mesaag.descricionMesa = ""
        },
        preeditar: function(data){
            this.mesaeditar =  this.mesadataedi[data]
            console.log(this.mesaeditar)            
            this.midificarre= false
        },
        editarmesa: function(){
            let ideditar = this.mesaeditar.idmesa
            console.log(ideditar)
            this.mesaedirenviar.numeroMesa = this.mesaeditar.numeroMesa
            this.mesaedirenviar.descricionMesa = this.mesaeditar.descricionMesa
            
            console.log(ideditar)
            axios.put(`https://restaurante-brayansc3.herokuapp.com/mesa/${ideditar}/`,
                this.mesaedirenviar
            ).then((result) => {
                    this.midificarre = true
                    this.listmesa()
                    this.cancelar()
                })
            .catch((error) => {
                    console.log(error)
                    alert("ERROR: Fallo en el registro.");
                });
        },
        agremesa: function(){
            axios.post(
                "https://restaurante-brayansc3.herokuapp.com/mesa/",
                this.mesaag,
                {headers: {}}
            ).then((result) => {
                this.listmesa()
                this.cancelar()
                })
                .catch((error) => {
                    console.log(error)
                    alert("ERROR: Fallo en el registro.");
                });
            },
        eliminarMesa: function(idEli){
            console.log(idEli)
            axios.delete(`https://restaurante-brayansc3.herokuapp.com/mesa/${idEli}/`,
            ).then((resul) =>{
                alert("Se elimino el registor de froma existosa")
                this.listmesa()
                this.midificarre= false
                this.cancelar()
            }).catch((error)=>{
                alert("ocurio un error "+ error)
            })
            this.mostrarlista= true
        },
        listmesa: function(){
            axios.get(
                "https://restaurante-brayansc3.herokuapp.com/mesalist/"
            ).then((response) =>{
                let datos = response.data;
                let parsar = JSON.stringify(datos);
                this.mesadata = JSON.parse(parsar);
                this.mesadataedi = JSON.parse(parsar)
            }).catch((error) => {
                    alert("ERROR 401: Credenciales Incorrectas."+ error);
                    });
            
        }
    },
    created: function(){ 
    this.listmesa()
    
    }
}
</script>
<style>
    body{
        position: relative;
    }
    div{
        margin: 0 0 0 0;
    }
    .contenmesa{
        position: relative;
        margin: auto;
        margin-top: 0%;
        
        height: 100%;
        width: 80%;
        background-color: rgb(241, 220, 214);
    }
    .contlis{
        margin-top: 1%;
        position: absolute;
        right: 0;
        width: 50%;
        height: 90%;
        background-color: rgb(212, 142, 84);
        overflow: auto;
    }
    .cont{
        margin-top: 1%;
        position: absolute;
        text-align: center;
        width: 50%;
        height: 90%;
        background-color: rgb(250, 241, 233);
        overflow: auto;
    }
    .listar{
        right: 0;
        background-color: rgb(243, 201, 167);

    }
    h1{
        margin: 0;
    }
    .titulo{
        text-align: center;
        margin: auto;
        font-size: 30px;
    }
    .elemetosmesa{
        display: inline-block;
        position: relative;
        text-align: center;
        margin-left: 2%;
        width: 10%;
        height: 30%;
        font-size: 140%;
    }
    
    #idmesa{
        width: 13%;
    }
    #numeromesa{
        
        width: 18%;
    }
    #descripmesa{
        width: 35%;
        position: relative;
        align-items: center;
        
        
    }
     #descripmesa2{
        width: 35%;
        text-align: center;
    }
    #acciones{
        text-align: center;
    }

    .elemetosmesa1{
        display: inline-block;
        position: relative;
        text-align: center;
        width: 25%;
        height: 30%;
        font-size: 150%;
    }

    .elemetosmesa2{
        display: inline-block;
        position: relative;
        text-align: center;
        width: 11%;
        margin-left: 2%;
        height: 30px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border: none;
        cursor: pointer;
        transition: .3s ease all;
        border-radius: 5px;
        border: none;
    }
    .elemetosmesa2:hover{
        background-color: #491c02;
        color: rgb(253, 253, 253);
        margin-top: 10px;
        
        box-shadow: -10px -5px rgb(189, 183, 183)
    }
    
    .nombrec {
        display: inline;
        margin-left: 4%;
    }
    .mesa{
        display: inline;
        margin-left: 4%;
    }
     .camposreserva1 {
        display: inline-block;
        width: 40%;
        padding-left: 10%;
        font-size: 25px;
    }
    .comllenarreser1{
        display: inline-block;
        width: 30%;
        padding-left: 2%;
        font-size: 20px;
    }

</style>
