<template>
    
    <div class="contenreserva">
        <h1 class="titulo">Reservas</h1>
        <div class="contlisre" v-if="mostrarlista">
            <div>
            <h2 class="elemetos" id="nombre">Nombre Cliente</h2><h2 class="elemetos" id="mesa">Mesa</h2><h2 class="elemetos" id="hora">Hora</h2><h2 class="elemetos" id="fecha">Fecha</h2><h2 class="elemetos1">Acciones</h2>
            </div>
            <div class="listar" v-for="(reservain , index) in posts" :key="index">
                
                <h2 class="elemetos" id="nombre">{{reservain.nombreCl}}</h2><h2 class="elemetos" id="mesa">{{reservain.numeroMesa}}</h2><h2 class="elemetos" id="hora">{{reservain.horaInicio}}</h2><h2 class="elemetos" id="fecha">{{reservain.fechareserva}}</h2>
                <button class="elemetos2" v-on:click="preeditar(index)">Editar</button>
                <button class="elemetos2" v-on:click="eliminarReser(reservain.idreserva)">Eliminar</button>
            </div>
        </div>
        <div class="contre" v-if="midificarre">
            <div>
            <h2 class="agregar">Agregar Reserva</h2>
            </div>
            <form v-on:submit.prevent="agrereserva">
                <h3 class="camposreserva" >Nombre Del Cliente</h3><input type="text" v-model="reservac.nombreCl" class="comllenarreser" placeholder="Nombre cliente">
                
                <h3 class="camposreserva" >Mesas</h3> <select class="comllenarreser" v-model="reservac.numeroMesa">
                    <option v-for="(reservain , index) in mesadata" :key="index">  {{reservain.numeroMesa}}</option>
                </select>
            
            <h3 class="camposreserva">Hora</h3><input type="time" v-model="reservac.horaInicio" class="comllenarreser">
  
            <h3 class="camposreserva">Fecha</h3><input type="date" v-model="reservac.fechaReserva" class="comllenarreser">
            <br>
            <button type="submit" class="registrar">Registrar Reserva</button>
            
        </form>
           <button v-on:click="cancelar" class="registrar">Cancelar</button>
        </div>
        <div class="contre" v-if="!midificarre">
            <div>
            <h2 class="agregar">Editar Reserva</h2>
            </div>
            <form v-on:submit.prevent="editreserva">
                <h3 class="camposreserva" >Nombre Del Cliente</h3><input type="text" v-model="reservamo.nombreCl" class="comllenarreser" placeholder="Nombre cliente">
                
                
                <h3 class="camposreserva">Mesas</h3> <select class="comllenarreser" v-model="reservamo.numeroMesa">
                    <option v-for="(mesa , index) in mesadata" :key="index">  {{mesa.numeroMesa}}</option>
                </select>
                
                <h3 class="camposreserva">Hora</h3><input type="time" v-model="reservamo.horaInicio" class="comllenarreser">                
                <h3 class="camposreserva">Fecha</h3><input type="date" v-model="reservamo.fechareserva" class="comllenarreser">
                <br>
                <button type="submit" class="registrar"><span> Editar Reserva</span></button>
                
        </form>
           <button v-on:click="cancelar" class="registrar">Cancelar</button>
        </div>
    </div>

</template>

<script>
import axios from 'axios';

export default{
    name : "ReservA",
    emits:["listreserva"],
    data: function(){
        return{
            reservadata: [],
            posts :[],
            mesadata :[],
            reservac:{
                nombreCl: "",
                numeroMesa: "",
                horaInicio: "",
                fechaReserva: ""
            },
            midificarre: true,
            mostrarlista : true,
            reservamo:[],
            reservamodificar:{
                nombreCl: "",
                numeroMesa: "",
                horaInicio: "",
                fechaReserva: ""
            },


        }
    },
    methods:{
        cancelar: function(){
            this.midificarre = true
            this.reservac.nombreCl = ""
            this.reservac.numeroMesa = ""
            this.reservac.horaInicio = ""
            this.reservac.fechaReserva = ""
        },
        listreserva: function(){
            let vue = this;
            axios.get(
                "https://restaurante-brayansc3.herokuapp.com/reservalist/"
            ).then((response) =>{
                let datos = response.data;
                let parsar = JSON.stringify(datos);
                this.posts = JSON.parse(parsar);
                this.reservadata = JSON.parse(parsar)
                console.log("nuevoasa")
                console.log(this.posts)

                
            }).catch((error) => {
                    alert("ERROR 401: Credenciales Incorrectas."+ error);
                    });
            
        },
        preeditar: function(data){
            this.reservamo =  this.reservadata[data]
            console.log(this.reservamo)
            
            this.midificarre= false
            this.listmesa();
        },
        editreserva: function(){
            let ideditar = this.reservamo.idreserva
            this.reservamodificar.nombreCl = this.reservamo.nombreCl
            this.reservamodificar.numeroMesa = this.reservamo.numeroMesa
            this.reservamodificar.horaInicio = this.reservamo.horaInicio
            this.reservamodificar.fechaReserva = this.reservamo.fechareserva
            console.log(ideditar)
            console.log(this.reservamodificar)
            axios.put(`https://restaurante-brayansc3.herokuapp.com/reserva/${ideditar}/`,
                this.reservamodificar
            ).then((result) => {
                    this.midificarre = true
                    this.listreserva(); 
                    this.listmesa();
                })
                .catch((error) => {
                    console.log(error)
                    alert("ERROR: Fallo en el registro.");
                });
        },
        agrereserva: function(){
            axios.post(
                "https://restaurante-brayansc3.herokuapp.com/reserva/",
                this.reservac,
                {headers: {}}
            )
                .then((result) => {
                    this.reservac = ""
                    this.listreserva();
                    this.listmesa();

                })
                .catch((error) => {
                    console.log(error)
                    alert("ERROR: Fallo en el registro.");
                });
            },
        listmesa: function(){
            let vue = this;
            axios.get(
                "https://restaurante-brayansc3.herokuapp.com/mesalist/"
            ).then((response) =>{
                let datos = response.data;
                let parsar = JSON.stringify(datos);
                this.mesadata = JSON.parse(parsar);

            }).catch((error) => {
                    alert("ERROR 401: Credenciales Incorrectas."+ error);
                    });
            
        },
        eliminarReser: function(idEli){
            console.log(idEli)
            axios.delete(`https://restaurante-brayansc3.herokuapp.com/reserva/${idEli}/`,
            ).then((resul) =>{
                alert("El registro fue elimidado")
                this.midificarre = true
                
                this.listreserva();                
            }).catch((error)=>{
                alert("ocurio un error "+ error)
            })
            this.mostrarlista= true
        }
    },
    created: function(){ 
        this.listreserva();
        this.listmesa();
    
    
    
    }
}
</script>
<style>
    body{
        position: relative;
        
    }
    div{
        margin: 0 0 0 0;
    }
    .contenreserva{
        position: relative;
        margin: auto;
        margin-top: 0%;
        
        height: 100%;
        width: 80%;
        background-color: rgb(241, 220, 214);
    }
    .contlisre{
        margin-top: 1%;
        position: absolute;
        right: 0;
        width: 50%;
        height: 90%;
        background-color: rgb(212, 142, 84);
        overflow: auto;
    }
    .contre{
        margin-top: 1%;
        position: absolute;
        
        width: 50%;
        height: 90%;
        background-color: rgb(250, 241, 233);
        overflow: auto;
    }
    .listar{
        right: 0;
        background-color: rgb(243, 201, 167);
    }
    .agregar{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    h1{
        margin: 0;
    }
    .titulo{
        text-align: center;
        margin: auto;
        font-size: 30px;
    }
    .elemetos{
        display: inline-block;
        position: relative;
        text-align: center;
        width: 17%;
        height: 30%;
        font-size: 150%;
    }
    #nombre{
        width: 25%;
    }
    #mesa{
        width: 10%;
    }
    #hora{
        width: 13%;
    }
    #fecha{
        width: 19%;
    }

    .elemetos1{
        display: inline-block;
        position: relative;
        text-align: center;
        width: 25%;
        height: 30%;
        font-size: 150%;
    }

    .elemetos2{
        display: inline-block;
        position: relative;
        text-align: center;
        width: 11%;
        margin: 2%;
        height: 30px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border: none;
        cursor: pointer;
        transition: .3s ease all;
        border-radius: 5px;
        border: none;

    }
    .camposreserva {
        display: inline-block;
        width: 35%;
        padding-left: 10%;
        font-size: 25px;
    }
    .comllenarreser{
        display: inline-block;
        width: 30%;
        padding-left: 2%;
        font-size: 20px;
    }
    .mesa{
        display: inline;
        margin-left: 4%;
    }
    .registrar{
        display: inline-block;
        width: 40%;
        height: 40px;
        position: relative;
        margin-left: 25%;
        margin-top: 2%;
        color: rgb(0, 0, 0);
        background-color: rgb(243, 221, 160);
        border: none;
        cursor: pointer;
        transition: .3s ease all;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 500;
        border: none;
        
    }
    .registrar:hover{
        background-color: #491c02;
        color: rgb(253, 253, 253);
        margin-top: 4%;
        margin-left: 27%;
        box-shadow: -10px -5px rgb(189, 183, 183)
        
    }
    .elemetos2:hover{
        background-color: #491c02;
        color: rgb(253, 253, 253);
        margin-top: 10px;
        
        box-shadow: -10px -5px rgb(189, 183, 183)
    }
    
    



    
    

</style>
